<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="well">
    <h1>Software Security Service</h1>
    <p>Never do anything important unless you can validate what you are doing is what you are suppose to be doing.</p>
    <p>The Critical Action Server uses keyless signature technology from Guardtime.  Sign any file, URL, arbitary string.</p>
    <p>Mathematically prove they are the same before you ever use them anywhere.  No key vulnerabilities.  Identity and time are secured in the signature and cannot be subjugated</p>
    <ol>
      <li>Choose a passphrase that only you know.</li>
      <li>Select the source you are protecting - a file, enter a URL or simple text</li>
      <li>Receive a .gtts signature file</li>
      <li>Communicate the source with the signature file and the passphrase, using secure means</li>
      <li>Whenever is required, 1 second, 1 minute, 10 years, resend the source, signature and passphrase</li>
      <li>If anything has been compromised validation will immediately fail</li>
      <li>If validation passes then you can gurarantee the source is the same as before and can be used with confidence (and indemnification)</li>
    </ol>
    <p>If Target had implemented this technology they would never have been compromised or if they were they would be able to indemnify themselves and pass on appropriate ownership of compromise</p>
    <p><a class="btn btn-primary btn-lg" href="#/actions" role="button">Create Example Critical Action »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 well">
      <h2>Identfity Critical Actions</h2>
      <p></p>
      <p><a class="btn btn-default" href="/#" role="button">Learn More »</a></p>
    </div>
    <div class="col-md-4 well">
      <h2>Simple API Integration</h2>
      <p></p>
      <p><a class="btn btn-default" href="/#" role="button">Learn More »</a></p>
   </div>
    <div class="col-md-4 well">
      <h2>Sleep at Night</h2>
      <p></p>
      <p><a class="btn btn-default" href="/#" role="button">Learn More »</a></p>
    </div>
  </div>
</div>
